body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #a3d8f4, #87ceeb); /* Sky blue gradient */
    margin: 0;
    padding: 0;
    color: #042a4b; /* Deep blue for text */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #005b96; /* Deep sky blue */
    font-size: 2.5em;
    margin-bottom: 20px;
}

form {
    background: rgba(255, 255, 255, 0.9); /* Light translucent background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-size: 1.1em;
    color: #005b96; /* Deep sky blue */
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #87ceeb; /* Soft blue border */
    border-radius: 5px;
    background-color: #d9f1fc; /* Very light blue background */
    color: #042a4b; /* Dark blue text */
    font-size: 1em;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: #005b96; /* Soft sky blue for placeholder */
    font-style: italic;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #5dade2; /* Button in vibrant sky blue */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #3498db; /* Slightly darker on hover */
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .left-section img {
        display: none;
    }

    .company-name {
        display: none; /* Hide company name on mobile */
    }

    form {
        width: 82%;
    }

    h1 {
        font-size: 2em;
    }
}

.company-name {
    font-size: 3em; /* Increased size */
    font-weight: bold;
    color: #005b96; /* Vibrant sky blue */
    text-align: center;
    margin: 0;
}
